/* Toggle Light Dark Mode */

.lightdark-icon {
  cursor: pointer;
  aria-label: "Togggle to dark mode";
}

.menu--icon {
  aria-label: "Icon to open and close menu";
}

/* Submit */

.button-submit {
  padding: var(--space-sm);
  color: white;
  background: var(--clr-blue);
  border-radius: var(--radius-s);
  border: none;
}

/* Show more */

.btn-more {
  cursor: pointer;
  font-size: var(--font-m);
  color: var(--clr-light);
  background: var(--clr-dark);
  padding: 5px 10px;
  border: none;
  border-radius: var(--space-sm);
  transition: var(--trans-1);
}

.btn-more:hover{
  color: var(--clr-blue);
  transform: translateY(10px);
}

/* Arrows */

.arrow-btn {
  padding: 0.7rem;
  border-radius: var(--radius-s);
  background: gray;
  transition: var(--trans-1);
}

.arrow-btn:hover {
  background: var(--clr-blue);
  filter: drop-shadow(0px 5px 5px var(--clr-dark));
}

.arrow-btn:active {
  background: white;
}

/* Links */

.btn-link {
  color: var(--clr-light);
}

.btn-tags {
  font-size: var(--font-m);
  color: var(--clr-light);
  padding: 5px 8px;
  border: 1px solid var(--clr-dark-2);
  border-radius: var(--space-sm);
}

.btn-tags:hover {
  color: var(--clr-blue);
}

.btn-prop {
  display: inline-block;
  text-decoration: none;
}

button:disabled {
  opacity: 0.7;
}

/* Scroll */

.scroll-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.scroll-top-icon {
  font-size: 1.3rem;
  color: var(--clr-light);
  padding: 0.5rem 1rem;
  border: 2px groove var(--clr-blue);
  border-radius: var(--radius-m);
  background: var(--clr-dark);
  transition: var(--trans-1);
  transition: filter var(--trans-2);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.2));
}

.scroll-top-icon:hover {
  color: var(--clr-blue);
  filter: drop-shadow(0px 5px 10px var(--clr-blue));
}
