/* Toggle Light Dark Mode */

.toggle-button {
  cursor: pointer;
  aria-label: "Togggle to dark mode";
  font-size: 2rem;
  background: red;
  padding: 0.4rem;
}

/* Show more */

.btn-more {
  cursor: pointer;
  font-size: var(--font-m);
  color: var(--clr-light);
  background: var(--clr-dark);
  padding: 5px 10px;
  border: none;
  border-radius: var(--space-sm);
}

/* Arrows */

.arrow-btn {
  padding: 0.7rem;
  border-radius: var(--radius-s);
  background: gray;
  transition: var(--trans-1);
}

.arrow-btn:hover {
  background: var(--clr-blue);
}

.arrow-btn:active {
  background: white;
}

/* Links */

.btn-link {
  color: var(--clr-light);
}

.btn-tags {
  font-size: var(--font-m);
  color: var(--clr-light);
  padding: 5px 8px;
  border: 1px solid var(--clr-dark-2);
  border-radius: var(--space-sm);
}

.btn-tags:hover {
  color: var(--clr-blue);
}

.btn-prop {
  display: inline-block;
  text-decoration: none;
}

/* Icons */

.scroll-top-icon {
  font-size: 1.4rem;
  color: var(--clr-light);
  transition: var(--trans-1);
}

.scroll-top-icon:hover {
  color: var(--clr-red);
}

/* Circles Carousel */

.circle {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.circle-active {
  background: var(--clr-blue);
}

.circle-inactive {
  background: var(--clr-light);
  opacity: 0.3;
}
