/****** FOOTER ******/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-m);
  min-height: 10rem;
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-nav-link {
  transition: var(--trans-1);
  font-size: var(--font-m);
  color: var(--clr-white);
  text-decoration: none;
}

.footer-nav-link:hover {
  color: var(--clr-red);
}

.footer-bottom{
  text-align: center;
}

@media (min-width: 600px) {
  .footer-nav-list{
    flex-direction: row;
  }
}
