/* New CSS */

.top-level {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-wrap {
  width: 100%;
}

.top-header {
  display: flex;
  align-items: stretch;
  min-height: 3rem;
}

.pagelogo {
  flex-grow: 1;
  align-self: center;
  z-index: 10;
}

.site-logo {
  height: 45px;
}

.primary-nav {
  display: grid;
  align-self: center;
  background: var(--clr-blue);
  min-height: 4rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 400px) {
  .primary-nav {
    min-height: 100dvh;
  }
  .nav-list {
    flex-direction: column;
  }
}

.nav-link {
  font-size: var(--font-m);
  color: var(--clr-light);
  text-decoration: none;
}

.header-options {
  min-width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.lightdark-icon,
.menu--icon {
  color: var(--clr-light);
  font-size: 1.3rem;
}

.open {
  display: block;
}

.close {
  display: none;
}

.page-logo-image {
  height: 40px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
