/* New CSS */

.top-level {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-wrap {
  width: 100%;
}

.top-header {
  display: flex;
  align-items: stretch;
  min-height: 3rem;
}

.pagelogo {
  flex-grow: 1;
  align-self: center;
  z-index: 10;
}

.site-logo {
  height: 45px;
}

.primary-nav {
  display: grid;
  align-self: center;
  background: var(--clr-blue);
  animation: nav-fade-in 1s forwards;
}

@keyframes nav-fade-in {
  0% {
    opacity: 0;
    min-height: 0dvh;
  }
  100% {
    min-height: 50dvh;
    opacity: 1;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  transition: var(--trans-1);
  font-size: var(--font-m);
  color: var(--clr-dark);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--clr-light);
}

@media screen and (max-width: 400px) {
  .primary-nav {
    min-height: 100dvh;
  }
  .nav-list {
    flex-direction: column;
  }
}



.header-options {
  min-width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.menu-toggle{
  position: relative;
  display: flex;
  justify-content: center;
}

.menu-toggle::after{
  position: absolute;
  display: block;
  transform: translateY(3.5rem);
  content: 'Menu';
  font-size: var(--font-m);
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: var(--clr-blue);
}

.lightdark-icon,
.menu--icon {
  color: var(--clr-light);
  font-size: 1.3rem;
}

.open {
  display: block;
}

.close {
  display: none;
}

.page-logo-image {
  height: 40px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
