.main-wrapper {
  width: min(100% - 2rem, 98rem);
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-grow: 1;
}

.grid-autofit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}



.col--1 {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.post--comment {
  width: min(100% - 1rem, 44rem);
  margin-inline: auto;
}

.section-title {
  margin-bottom: 2rem;
}

.layout-1 {
  display: flex;
  align-items: baseline;
}

.space-bet {
  justify-content: space-between;
}

/* Borders */

.border-red {
  border: 1px solid var(--clr-red);
}

.border-blue {
  border: 1px solid var(--clr-blue);
}

/* Images */

.post-image-click {
  cursor: pointer;
}

.image-full {
  width: 400px;
  object-fit: cover;
}

/* Input fields */

label {
  color: var(--clr-light);
}

input {
  display: block;
  padding: 5px;
  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}

input:focus {
  color: var(--clr-dark-1);
  background: rgba(0, 0, 0, 0.2);
}

textarea {
  display: block;

  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}
