.main-wrapper {
  width: min(100% - 2rem, 98rem);
  margin-inline: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* display: flex; */
  flex-grow: 1;
}

.grid-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "content content content aside"
    "comment comment comment aside";
}

@media screen and (max-width: 840px) {
  .grid-wrapper {
    grid-template-areas:
      "content"
      "aside"
      "comment";
  }
}

.grid-autofit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.blog-container {
  grid-area: content;
}

.side--content {
  grid-area: aside;
}

.post--comment {
  grid-area: comment;
}

.section-title {
  margin-bottom: 2rem;
}

.layout-1 {
  display: flex;
  align-items: baseline;
}

.space-bet {
  justify-content: space-between;
}

/* Borders */

.border-red {
  border: 1px solid var(--clr-red);
}

.border-blue {
  border: 1px solid var(--clr-blue);
}

/* Images */

.post-image-click {
  cursor: pointer;
}

.image-full {
  width: 400px;
  object-fit: cover;
}

/* Input fields */

label {
  color: var(--clr-light);
}

input {
  display: block;
  padding: 5px;
  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}

input:focus {
  color: var(--clr-dark-1);
  background: rgba(0, 0, 0, 0.2);
}

textarea {
  display: block;

  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}
