.main-wrapper {
  width: min(100% - 2rem, 98rem);
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-wrapper-blog {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-wrapper-contact {
  width: min(100% - 2rem, 40rem);
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Updated */
.main-wrap{
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.width-main {
  width: min(100% - 2rem, 98rem);
}

.width-blog{
  width: min(100% - 2rem, 60rem);
}

.width-contact{
  width: min(100% - 2rem, 40rem);
}

.flex-center {
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

.flex-gap{
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.grid-autofit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.grid-two-col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 1rem;
}

.grid-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-m);
}

@media screen and (max-width: 800px) {
  .grid-article {
    grid-template-columns: 1fr;
  }
}

.spacer-m {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.spacer-xl {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.col--1 {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

/* .create--comment {
  width: min(100% - 1rem, 44rem);
  margin-inline: auto;
} */

.create--comment {
  background: var(--clr-dark-3);
  border-radius: var(--radius-m);
  min-height: 20rem;
  padding: 2rem;
}

.section-title {
  margin-bottom: 2rem;
}

.layout-1 {
  display: flex;
  align-items: baseline;
}

/* Borders */

.border-red {
  border: 1px solid var(--clr-red);
}

.border-blue {
  border: 1px solid var(--clr-blue);
}

/* Images */

.post-image-click {
  cursor: pointer;
}

.image-full {
  width: 400px;
  object-fit: cover;
}

/* Input fields */

label {
  color: var(--clr-light);
}

input {
  display: block;
  padding: 5px;
  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}

input:focus {
  color: var(--clr-dark-1);
  background: rgba(0, 0, 0, 0.2);
}

textarea {
  display: block;

  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}
