.main-wrapper {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
  /* display: flex; */
  flex-grow: 1;
}

.section-title {
  margin-bottom: 2rem;
}

.layout-1 {
  display: flex;
  align-items: baseline;
}

.space-bet {
  justify-content: space-between;
}
