@import url(./header.css);
@import url(./buttons.css);
@import url(./layout.css);
@import url(./mediaqueries.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #e06c75;
  --clr-blue: #56b6c2;
  --clr-yellow: #e5c07b;

  --clr-light: #fcfcfc;
  --clr-dark: #1e2222;

  --clr-dark-1: rgb(199, 199, 199);
  --clr-dark-2: rgb(138, 138, 138);
  --clr-dark-3: rgb(61, 61, 61);

  --space-sm: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.3rem;

  --font-xl: clamp(1.85rem, 3.5vw, 3.2rem); /* H1 */
  --font-l: clamp(1.75rem, 3.5vw, 2.4rem); /* H2 */
  --font-m: clamp(1.45rem, 3.5vw, 1.3rem); /* H3 */
  --font-s: clamp(1.3rem, 3.5vw, 1rem);

  --radius-s: 3px;
  --radius-m: 6px;

  --trans-1: 100ms ease;
}

.light-mode {
  --clr-red: #e06c75;
  --clr-blue: #32adbd;
  --clr-light: var(--clr-dark);
  --clr-dark: var(--clr-light);

  --clr-dark-1: rgb(61, 61, 61);
  --clr-dark-2: rgb(138, 138, 138);
  --clr-dark-3: rgb(199, 199, 199);
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
  background: var(--clr-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Loader */

.loader-dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10rem;
  margin-inline: auto;
}

.loader {
  position: relative;
}

.loader-dot-1 {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-red);
  /**/
  position: absolute;
  top: 0;
  left: 0;
  animation: loader-dot-1 1s infinite ease-in-out;
}

@keyframes loader-dot-1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.loader-dot-2 {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-blue);
  /**/
  position: absolute;
  top: 0;
  left: 0;
  animation: loader-dot-2 1s infinite ease-in-out;
}

@keyframes loader-dot-2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Fonts */

h1,
h2,
h3,
ul,
ol,
li,
p,
a,
button,
p {
  color: var(--clr-light);
}

.title-font {
  font-size: var(--font-l);
}

.card-title {
  color: var(--clr-red);
  font-size: var(--font-m);
}

/****** HOME ******/

/* Carousel */

.carousel {
  position: relative;
  width: 100%;
}

.carousel-content {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.post-card {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.carousel-navigation {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.image-prop {
  width: 100%;
  height: 50dvh;
  object-fit: cover;
  border-radius: var(--radius-m);
}

.latest-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-card-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 16rem;
}

.hero-title {
  font-size: var(--font-xl);
  font-weight: 900;
  color: var(--clr-blue);
}

/****** LIST OF POSTS ******/

.all-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-l);
}

.blogpost-img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-radius: var(--radius-m);
}

.search-details {
  display: none;
}

.flex-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--space-m);
}

.post-found-font {
  font-size: 1.4rem;
  color: var(--clr-red);
  font-weight: 300;
}

.filter-item {
  display: flex;
  align-items: center;

  gap: var(--space-sm);
}

.search-field {
  font-size: 1.1rem;
  padding: 3px;
  width: 100%;
  border: 1px solid var(--clr-dark-2);
  color: var(--clr-light);
  background: var(--clr-dark);
}

.show-more {
  display: grid;
  place-content: center;
  min-height: 5rem;
}

.hide {
  display: none;
}

/* Specific Page */

.post-info {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-title {
  font-size: var(--font-xl);
  color: var(--clr-red);

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.post-content h2 {
  font-size: var(--font-m);
  color: var(--clr-light);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.post-content p {
  color: var(--clr-light);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.comment {
  background: var(--clr-dark-2);
  min-height: 10rem;
  padding: 2rem;
}
/****** CONTACT ******/

.form-contact {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

label {
  color: var(--clr-light);
}

input {
  display: block;
  padding: 5px;
  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}

input:focus {
  color: var(--clr-dark-1);
  background: rgba(0, 0, 0, 0.2);
}

textarea {
  display: block;

  color: var(--clr-light);
  border: 2px solid var(--clr-dark-3);
  border-radius: var(--radius-s);
  background: var(--clr-dark);
}

.textfield {
  width: min(100%, 25rem);
}

.textfield-message {
  width: min(100%, 25rem);
  min-height: 10rem;
}

/* Arrows */

.arrows-container {
  display: flex;
  justify-content: space-between;
}

/* Utilities */

.a-reset {
  text-decoration: none;
}

/* Message */

.message-container {
  display: inline-block;

  border-radius: 3px;
  margin-top: 5px;
}

.success {
  color: black;
  background: rgb(100, 225, 100);
  /**/
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}

.error {
  color: white;
  background: rgb(236, 104, 104);
  /**/
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}
