@import url(./header.css);
@import url(./buttons.css);
@import url(./layout.css);
@import url(./mediaqueries.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #e06c75;
  --clr-blue: #56b6c2;
  --clr-yellow: #e5c07b;

  --clr-light: #fcfcfc;
  --clr-dark: #1e2222;

  --clr-dark-1: rgb(199, 199, 199);
  --clr-dark-2: rgb(138, 138, 138);
  --clr-dark-3: rgb(61, 61, 61);

  --space-sm: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.3rem;

  --font-xl: clamp(1.85rem, 3.5vw, 3.2rem); /* H1 */
  --font-l: clamp(1.75rem, 3.5vw, 2.4rem); /* H2 */
  --font-m: clamp(1.45rem, 3.5vw, 1.3rem); /* H3 */
  --font-s: clamp(1.3rem, 3.5vw, 1rem);

  --radius-s: 3px;
  --radius-m: 6px;

  --trans-1: 100ms ease;
}

.light-mode {
  --clr-red: red;
  --clr-blue: blue;
  --clr-light: var(--clr-dark);
  --clr-dark: var(--clr-light);
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
  background: var(--clr-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Fonts */

h1,
h2,
h3,
p {
  color: var(--clr-light);
}

.title-font {
  font-size: var(--font-l);
}

.card-title {
  color: var(--clr-red);
  font-size: var(--font-m);
}

/****** HOME ******/

.image-prop {
  width: 100%;
  height: 30dvh;
  object-fit: cover;
  border-radius: var(--radius-m);
}

.carousel-indicator {
  border: 2px solid gray;
  padding: 3px;
  border-radius: 50px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.latest-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-card-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 16rem;
}

.hero-title {
  font-size: var(--font-xl);
  font-weight: 900;
  color: var(--clr-blue);
}

/****** LIST OF POSTS ******/

.post-card {
  border: 1px dotted var(--clr-blue);
}

.all-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-l);
}

.search-details {
  display: none;
}

.flex-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--space-m);
}

.post-found-font {
  font-size: 1.4rem;
  color: var(--clr-red);
  font-weight: 300;
}

.filter-item {
  display: flex;
  align-items: center;

  gap: var(--space-sm);
}

.search-field {
  font-size: 1.1rem;
  padding: 3px;
  width: 100%;
  border: 1px solid var(--clr-dark-2);
  color: var(--clr-light);
  background: var(--clr-dark);
}

/* Specific Page */

.post-title {
  font-size: var(--font-xl);
  color: var(--clr-red);
}

.post-content h2 {
  font-size: var(--font-m);
  color: var(--clr-light);
}

.post-content p {
  color: var(--clr-light);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Arrows */

.arrows-container {
  display: flex;
  justify-content: space-between;
}
