@import url(./mediaqueries.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #e06c75;
  --clr-blue: #56b6c2;
  --clr-yellow: #e5c07b;

  --clr-light: #fcfcfc;
  --clr-dark: #1e2222;

  --space-sm: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.3rem;

  --font-xl: clamp(1.85rem, 3.5vw, 3.2rem); /* H1 */
  --font-l: clamp(1.75rem, 3.5vw, 2.4rem); /* H2 */
  --font-m: clamp(1.45rem, 3.5vw, 1.3rem); /* H3 */
  --font-s: clamp(1.3rem, 3.5vw, 1rem);

  --radius-s: 3px;
  --radius-m: 6px;
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
  background: var(--clr-dark);
}

h1,
h2,
h3,
p {
  color: var(--clr-light);
}

/**** Header ****/

.primary-header {
  position: relative;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-block {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 50svh;
  width: 100%;
  z-index: 10;
  display: none;
  background: var(--clr-blue);
}

.nav-burger {
  z-index: 1000;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: var(--font-s);
  color: var(--clr-light);
  text-decoration: none;
}

.nav-burger {
  font-size: 1.5rem;
  color: var(--clr-light);
}

.page-logo-image {
  height: 40px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Home */

.image-prop {
  width: 100%;
  border-radius: var(--radius-m);
}



.carousel-indicator {
  border: 2px solid gray;
  padding: 3px;
  border-radius: 50px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.circle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.circle-active {
  background: var(--clr-blue);
}

.circle-inactive {
  background: var(--clr-light);
  opacity: 0.3;
}

.test {
  border: 3px solid yellow;
}

.post-card {
  text-decoration: none;
  padding: 5px;

}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;

}