@import url(./header.css);
@import url(./buttons.css);
@import url(./layout.css);
@import url(./utilities.css);
@import url(./mediaqueries.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #e06c75;
  --clr-blue: #56b6c2;
  --clr-yellow: #e5c07b;

  --clr-light: #fcfcfc;
  --clr-dark: #1e2222;

  --clr-dark-1: rgb(199, 199, 199);
  --clr-dark-2: rgb(138, 138, 138);
  --clr-dark-3: rgb(61, 61, 61);

  --space-sm: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.3rem;
  --space-xl: 2rem;

  --font-xl: clamp(1.85rem, 3.5vw, 3.2rem); /* H1 */
  --font-l: clamp(1.75rem, 3.5vw, 2.4rem); /* H2 */
  --font-m: clamp(1.45rem, 3.5vw, 1.3rem); /* H3 */
  --font-s: clamp(1.3rem, 3.5vw, 1rem);

  --radius-s: 3px;
  --radius-m: 6px;

  --trans-1: 100ms ease;
  --trans-2: 300ms ease;
  --trans-3: 500ms ease;
}

.light-mode {
  --clr-red: #e06c75;
  --clr-blue: #32adbd;
  --clr-light: var(--clr-dark);
  --clr-dark: var(--clr-light);

  --clr-dark-1: rgb(61, 61, 61);
  --clr-dark-2: rgb(138, 138, 138);
  --clr-dark-3: rgb(199, 199, 199);
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
  background: var(--clr-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Loader */



.loader {
  width: min(100% - 2rem, 5rem);
  margin: 0 auto;
}

.loader-dots {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  animation: rotate-spin 2s infinite;
}

@keyframes rotate-spin {
  0% {
    transform: rotate(0deg);

    scale: 0;
  }
  50% {
    transform: rotate(180deg);
    scale: 2;
  }

  100% {
    transform: rotate(360deg);
    scale: 0;
  }
}

.loader-dot-1 {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-red);
  /**/
  animation: loader-dot-1 1s infinite ease-in-out;
}



.loader-dot-2 {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-blue);
  /**/
  animation: loader-dot-2 1s infinite ease-in-out;
}


/* Fonts */

h1,
h2,
h3,
ul,
ol,
li,
p,
a,
button,
p {
  color: var(--clr-light);
}

.title-font {
  font-size: var(--font-l);
  color: var(--clr-red);
  /* margin-bottom: 1.5rem; */
}

.subtitle-font {
  font-size: var(--font-m);
  color: var(--clr-blue);
  margin-bottom: 1.5rem;
}

.card-title {
  color: var(--clr-red);
  font-size: var(--font-m);
}

/****** HOME ******/

.flexx{
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

/* Carousel */

.carousel {
  position: relative;
  width: 100%;
  margin-bottom: var(--space-xl);
}

.carousel-content {
  display: flex;
  flex-direction: row;
  gap: var(--space-l);
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 720px) {
  .carousel-content {
    flex-direction: column;
    gap: var(--space-xl);
  }
}

.post-card {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.carousel-navigation {
  position: absolute;
  top: -4.6rem;
  right: 0rem;
}

.image-prop {
  width: 100%;
  height: 50dvh;
  object-fit: cover;
  border-radius: var(--radius-m);

  transition: var(--trans-1);
}

.title-heading{
  font-size: var(--font-m);
  transition: var(--trans-2);
}

.title-heading:hover {
  color: var(--clr-red);
}

.latest-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-card-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20rem;
}

.hero-title {
  font-size: var(--font-xl);
  font-weight: 900;
  color: var(--clr-blue);
}



/****** ABOUT ******/

.article-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-m);
}

.article-inside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .article-col{
    grid-template-columns: 1fr;
  }
}

.article-col h2 {
  font-size: var(--font-m);
  font-weight: 400;
}

.about-image{
  width: 100%;
  height: 40dvh;
  object-fit: cover;
  border-radius: var(--radius-m);
}

/* Featured CSS */

.featured-item h3 {
  color: var(--clr-red);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.featured-item{
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Setup */

.setup-guide {
  list-style-position: inside;
  gap: 1rem;
}

.setup-item {
  font-size: 1.1rem;
  border: 1px solid var(--clr-dark-3);
  padding: 0.5rem;
  border-radius: var(--radius-m);
  width: min(100%, 40rem);
}

/****** LIST OF POSTS ******/

.all-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-l);
}

#search-bar {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
}

.blogpost-img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-radius: var(--radius-m);
}

.flex-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--space-m);
}

.search-field {
  font-size: 1.1rem;
  padding: 3px;
  width: 100%;
  margin-bottom: 1rem;

  color: var(--clr-light);
  background: var(--clr-dark);
}

/* Specific Page */

.post-info {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-title {
  font-size: var(--font-xl);
  color: var(--clr-red);

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.post-content h2 {
  font-size: var(--font-m);
  color: var(--clr-light);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.post-content p {
  color: var(--clr-light);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.comment-container {
  background: var(--clr-dark-2);
  min-height: 10rem;
  padding: 2rem;
}

.comment-item {
  border: 1px solid var(--clr-dark-2);
  border-radius: var(--radius-m);
  padding: 1rem;
}

.modal--container {
  position: fixed;
  inset: 0rem;
  height: 100dvh;
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal--img-container {
  width: min(100% - 1rem, 60rem);
  margin-inline: auto;
}

.modal--image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}



/****** CONTACT ******/

.form-contact {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  border-radius: var(--radius-m);
  padding: var(--space-m);
  /* min-height: 10rem; */
}

.textfield {
  width: 100%;
}

.textfield-message {
  width: 100%;
  min-height: 10rem;
}

.c-requirements {
  padding: var(--space-l);
}

.error-label-start {
  visibility: hidden;
  transform: rotate(0deg);
  transform: scale(0);
  transition: 1s;
}

.error-label-show {
  visibility: unset;
  transform: rotate(-2deg);
  transform: scale(1);
}
