@import url(./mediaqueries.css);
@import url(./header.css);
@import url(./buttons.css);
@import url(./layout.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #e06c75;
  --clr-blue: #56b6c2;
  --clr-yellow: #e5c07b;

  --clr-light: #fcfcfc;
  --clr-dark: #1e2222;

  --space-sm: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.3rem;

  --font-xl: clamp(1.85rem, 3.5vw, 3.2rem); /* H1 */
  --font-l: clamp(1.75rem, 3.5vw, 2.4rem); /* H2 */
  --font-m: clamp(1.45rem, 3.5vw, 1.3rem); /* H3 */
  --font-s: clamp(1.3rem, 3.5vw, 1rem);

  --radius-s: 3px;
  --radius-m: 6px;

  --trans-1: 100ms ease;
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
  background: var(--clr-dark);
}

/* Fonts */

h1,
h2,
h3,
p {
  color: var(--clr-light);
}

.title-font {
  font-size: var(--font-l);
}

.card-title {
  font-size: var(--font-m);
}

/****** HOME ******/

.image-prop {
  width: 100%;
  border-radius: var(--radius-m);
}

.carousel-indicator {
  border: 2px solid gray;
  padding: 3px;
  border-radius: 50px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.post-card-inner {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-height: 35rem;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/****** FOOTER ******/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 20rem;
}

.scroll-to-top {
  display: flex;
  gap: 5px;
}
